__pycache__/
*.py[cod]

venv/
.venv/
env/
ENV/

*.sqlite3
*/migrations/*.pyc
*/migrations/__pycache__/

*.log
*.pot
*.pyc
*.swp
*.swo
*.DS_Store
*.coverage

staticfiles/

.vscode/
.idea/
*.iml

.env

